.header-screen {
    display:flex;
    justify-content: space-between;
    margin: 20px 0px;
}

.header-screen__column {
    display: flex;
    align-items: center;
}

.header-screen__title {
    font-size: 30px;
    font-weight: 700;
}

.header-screen__icon {
    margin-left: 25px;
}

@keyframes cogSpin{
    from {
        transform: none;
    }
    to {
        transform:rotateZ(360deg);
    }
}

.fa-gear:hover {
    animation: cogSpin 2s linear infinite;
}
